# pip install -r requirements.txt

# Base ----------------------------------------
numpy==1.22.3
opencv_python==4.5.3.56
matplotlib>=3.2.2
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0

# Logging -------------------------------------
tensorboard>=2.4.1

# Plotting ------------------------------------
pandas>=1.1
seaborn>=0.11.0